<nav id="mySidenav"  class="sidenav">
    <div class="sidebar-sticky">
        <a class="nav-link text-white" href="/admin">
            <i class="fa fa-tachometer-alt fa-2x"></i>
            <br>
            Dashboard
        </a>

        <h6 class="sidebar-heading text-muted" style="text-align: center;">
            <span>Data</span>
        </h6>
        <a class="nav-link text-white" href="/admin/user">
            <i class="fa fa-users fa-2x" ></i>
            <br>
            Users
        </a>
        <a class="nav-link text-white" href="/admin/section">
            <i class="fa fa-tags fa-2x" ></i>
            <br>
            Sections
        </a>
        <a class="nav-link text-white" href="/admin/post">
            <i class="fa fa-crow fa-2x" ></i>
            <br>
            Post
        </a>
        <a class="nav-link text-white" href="/admin/reportPost">
            <i class="fa fa-flag fa-2x" ></i>
            <br>
            Report Post
        </a>
        <a class="nav-link text-white" href="/admin/tag">
            <i class="fa fa-tag fa-2x" ></i>
            <br>
            Tag
        </a>
        <a class="nav-link text-white" href="/admin/navbarLink">
            <i class="fa fa-link fa-2x" ></i>
            <br>
            Navbar Link
        </a>
        <h6 class="sidebar-heading text-muted" style="text-align: center;">
            <span>-----</span>
        </h6>
        <a class="nav-link text-white" href="/logout">
            <i class="fa fa-sign-out-alt fa-2x" ></i>
            <br>
            Logout</a>
    </div>
</nav>
