<div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12">


        <div class="profile">
            <section class="profile-header">

                <div class="img-container ">
                    <img src="<%=section.icon%>"  alt="Generic placeholder image">

                </div>
                <header>
                    <h2><%=section.name%></h2>
                    <p class="text-muted"><%=section.subTitle%></p>
                </header>

            </section>

            <div class="tab">
                <ul class="nav nav-tabs" style="flex-wrap: nowrap">
                    <li class="nav-item">
                        <a class="nav-link nav-tab-link active" href="#">Hot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tab-link" href="#">Fresh</a>
                    </li>
                </ul>
            </div>

        </div>

        <%results.forEach(function (item) {%>
        <%include postView.ejs%>
        <% })%>


    </div>
    <div class="col-lg-4 col-5 d-none d-lg-block "><%include ../layout/sidebarRight.ejs%></div>
</div>

