<div class="card border-0 sidebar-sticky" >
    <img class="card-img-top " src="https://miscmedia-9gag-fun.9cache.com/images/featured/1530866179.9273_PEpAZY_300.jpg" alt=alt">
    <a class="card-text" style="padding: 6px 0">
        A Live-Action Gundam MS Movie Is Happening
    </a>
</div>